{% liquid
    assign image_url = product.featured_media | img_url: '1x1' | replace: '_1x1.', '_{width}x.'
    capture supported_sizes 
        render 'image-size', sizes: '200,300,400,600,800,900,1000,1200', image: product.media[1] 
    endcapture 
    assign ratio = product.featured_media.aspect_ratio
%}
<div class="card-wrapper">
    <div class="card--image adaptive_height" style="padding-bottom: {{ 100.0 | divided_by: ratio }}%;">
        <a href="{{ product.url }}">
            <img class="ProductItem__Image Image--lazyLoad Image--fadeIn" 
                data-src="{{ image_url }}" 
                data-widths="[{{ supported_sizes }}]" 
                data-sizes="auto" 
                loading="lazy" 
                alt="{{ product.featured_media.alt | escape }}" 
                data-media-id="{{ product.featured_media.id }}" />
        </a>
    </div>
    <div class="card-information">
        <div class="card-info-grouped">
            <h3 class="card-title">
                <a href="{{ product.url }}">{{ product.title | escape }}</a>
            </h3>
            <a class="wishlist">
                {% render 'icon' with 'wishlist' %}           
            </a>
        </div>
        <div class="card-price">
            <div class="card__PriceList">
                {%- if product.compare_at_price > product.price -%}
                  <span class="card__Price card__price-sale">{{ product.price | money_without_trailing_zeros }}</span>
                  <span class="card__Price card__compare">{{ product.compare_at_price | money_without_trailing_zeros }} </span>
                {%- else -%}
                    <span class="card__Price">{{ product.price | money_without_trailing_zeros }}</span>
                {%- endif -%}
              </div>
        </div>
    </div>
</div>